<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cattle.lihao.mapper.SystemMapper">

    <select id="getSystem" resultType="com.cattle.lihao.bean.SystemBean">
        select * from inner_system
    </select>

    <select id="getSystemByCode" parameterType="java.lang.String" resultType="com.cattle.lihao.bean.SystemBean">
        select * from inner_system where sys_code = #{sys_code}
    </select>

    <update id="saveSystem" parameterType="com.cattle.lihao.bean.SystemBean">
        update inner_system set sys_value = #{sys_value} where sys_code = #{sys_code}
    </update>

    <insert id="saveOptLog" parameterType="com.cattle.lihao.bean.OptLog">
        insert into inner_log(log_id, log_model, log_type, log_info, log_memo, log_date, log_user_id)
        values (#{log_id}, #{log_model}, #{log_type}, #{log_info}, #{log_memo}, #{log_date}, #{log_user_id})
    </insert>

    <select id="getLogs" parameterType="com.cattle.lihao.bean.OptLog" resultType="com.cattle.lihao.bean.OptLog">
        select * from inner_log
        <where>
            <if test="log_model != null">
                and log_model = #{log_model}
            </if>
            <if test="log_type != null">
                and log_type = #{log_type}
            </if>
            <if test="log_info != null">
                and log_info like concat('%',#{log_info},'%')
            </if>
            <if test="log_memo != null">
                and log_memo like concat('%',#{log_memo},'%')
            </if>
            <if test="log_user_id != null">
                and log_user_id = #{log_user_id}
            </if>
            <if test="startDay != null">
                and date_format(log_date,'%Y-%m-%d') >= date_format(#{startDay},'%Y-%m-%d')
            </if>
            <if test="endDay != null">
                and date_format(#{endDay},'%Y-%m-%d') >= date_format(log_date,'%Y-%m-%d')
            </if>
        </where>
    </select>

</mapper>
