<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cattle.lihao.mapper.UserMapper">

    <!--用户登录-->
    <select id="getUserBean" parameterType="com.cattle.lihao.bean.UserBean" resultType="com.cattle.lihao.bean.UserBean">
        select user_id, user_name, user_no, user_phone
        from inner_user
        where (user_no = #{user_no} or user_phone = #{user_phone})
          and user_password = #{user_password}
    </select>

</mapper>
